Package: libot-db-pgsql2-dev
Priority: optional
Section: libs
Maintainer: Paul Clark <debian@obtools.com>
Description: ObTools Postgres database driver library (development files)
 The ObTools database library provides a generic database interface in C++.
 This is the Postgres interface driver
 .
 This package provides development files for building applications which
 use the library
