Source: ot-xmlmesh-cli
Section: Video
Priority: optional
Maintainer: Paul Clark <debian@obtools.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.packetship.com/

Package: ot-xmlmesh-cli
Architecture: any
Depends: ${misc:Depends}
Description: ObTools XMLMesh message bus command line interface
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
 .
 This package provides a simple command-line utility for sending messages
 and receiving responses in scripts, ot-xmlmesh-send, and a daemon for
 receiving messages and passing them to scripts, ot-xmlmesh-receive
