Package: ot-xmlmesh-cli
Priority: optional
Architecture: i386
Maintainer: Paul Clark <paul@xmill.com>
Depends: libot-general-single (>= 1.0.0), libot-xmlmesh-single (>= 1.0.0)
Description: ObTools XMLMesh message bus command line interface
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
 .
 This package provides a simple command-line utility for sending messages
 and receiving responses in scripts, ot-xmlmesh-send, and a daemon for
 receiving messages and passing them to scripts, ot-xmlmesh-receive
