Package: libot-db-pgsql
Priority: optional
Section: libs
Architecture: i386
Maintainer: Paul Clark <paul@xmill.com>
Depends: libc6 (>= 2.3.2), libstdc++5 (>= 3.3.3)
Depends: libpq3 (>= 7.4.1), libot-general (>= 1.0.0)
Description: ObTools Postgres database libraries 
 The ObTools database library provides a generic database interface in C++.
 This is the Postgres interface version
 .
 This package provides the standard multithreaded shared runtime libraries
