Package: libot-db-pgsql2
Priority: optional
Section: libs
Maintainer: Paul Clark <debian@obtools.com>
Depends: libc6 (>= 2.3.2), libstdc++6 (>= 3.4.3), libpq3 (>= 7.4.1) | libpq4 | libpq5, libot-general2 (>= 2.1.0), libot-db2 (>= 2.0.0)
Description: ObTools Postgres database driver library
 The ObTools database library provides a generic database interface in C++.
 This is the Postgres interface driver
 .
 This package provides the standard multithreaded shared runtime libraries
