
/* General stuff */
BODY 
{
  background-color    : #ffffff;
  font-family         : Arial,Helvetica,san-serif;
  font-size           : small;
  padding             : 1em;
}

H1
{
  font-size           : large;
  font-weight         : bold;
  text-decoration     : underline;
  color               : #003080;
}

H2 
{
  font-size           : small;
  font-weight         : bold;
  color               : #003080;
  border-top: solid 1px #003080;
  margin-top: 2em;
}

H3
{
  font-size           : x-small;
  font-weight         : bold;
  color               : #003080;
  margin: 0 0 8px 0;
}

H4
{
  font-size           : 1.0em;
  width               : 50%;
  border-top-width    : 2px;
  border-top-style    : solid;
  border-top-color    : #000000;
  padding-top         : 1.0em;
}


P
{
  font-size           : x-small;
  line-height: 140%;
  margin-bottom: 1em;
}

A
{ 
  text-decoration     : none;
}

A:hover 
{
  background-color    : #c0ffc0;
}

UL
{
  width               : 80%;
  margin-left         : 2.0em;
  background-color    : #ffffe0;
  border: solid 1px #808080;
}

LI
{
  font-weight         : bold;
  list-style-position : inside;
  list-style-type     : disc;
  line-height         : 160%;
}  

HR
{
  color               : #000000;
  background_colour   : #000000;
  height              : 2px;
}

TABLE
{ 
  margin-left: 3em;
  background-color: #e0f0ff;
  font-size: x-small;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

TH, TD
{ 
  padding: 2px;
  border-left: solid 1px black;
  border-top: solid 1px black;
}

TH
{ 
  text-align: left;
  font-weight: bold;
}

DIV.member
{ 
  border:  solid 1px #c0c0c0;
  margin-left: 2.0em; 
  margin-right: 2.0em;
  margin-bottom: 1.0em;
  background-color: #e0e0ff;
  padding: 4px;
}

DIV.function
{ 
  margin-top: 1em;
  margin-bottom: 1em;
}

DIV.function-header
{ 
  border:  solid 1px #c0c0c0;
  margin-left: 0em; 
  margin-right: 1.0em;
  margin-bottom: 1.0em;
  background-color: #e0ffe0;
  padding: 8px;
}

H3.function
{ 
  font-family: Courier, monospace;
  margin-bottom: 0;
  padding-bottom: 1em;
}

DIV.function P.function-title
{ 
  color               : #003080;
  font-weight: bold;
  background-color: #e0ffe0;
  padding-left:0;
  margin-bottom: 0;
}

DIV.function P
{ 
  margin-top: 0;
  padding-left: 1em;
}




