Package: libot-db-mysql2-dev
Priority: optional
Section: libs
Maintainer: Paul Clark <debian@obtools.com>
Description: ObTools MySQL database driver library (development files)
 The ObTools database library provides a generic database interface in C++.
 This is the MySQL interface driver
 .
 This package provides development files for building applications which
 use the library
