Package: libot-db-mysql-dev
Priority: optional
Section: libs
Architecture: i386
Maintainer: Paul Clark <paul@xmill.com>
Depends: g++-3.4, libmysqlclient15-dev (>=5.0), libot-general-dev (>= 1.6.4), libot-db-dev (>= 2.0.0)
Description: ObTools MySQL database driver library (development files)
 The ObTools database library provides a generic database interface in C++.
 This is the MySQL interface driver
 .
 This package provides development files for building applications which
 use the library
