Source: libjs-jquery-ot-xmlmesh
Section: web
Priority: optional
Maintainer: Paul Clark <debian@obtools.com>
Build-Depends: debhelper (>= 9), dh-exec
Standards-Version: 3.9.6
Homepage: http://www.obtools.com/

Package: libjs-jquery-ot-xmlmesh
Architecture: all
Depends: libjs-jquery
Description: ObTools XMLMesh message bus Javascript interface
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
 .
 This package provides a JQuery plugin for sending XMLMesh messages
 and requests
