Source: ot-xmlmesh-receive
Section: Network
Priority: optional
Maintainer: Paul Clark <debian@obtools.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.6
Rules-Requires-Root: no
Homepage: http://www.obtools.com/

Package: ot-xmlmesh-receive
Architecture: any
Depends: ${shlibs:Depends}
Description: ObTools XMLMesh message bus command line interface
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
 .
 This package provides a daemon for receiving messages and passing them to
 scripts, ot-xmlmesh-receive
