Source: ot-xmlmesh
Section: Network
Priority: optional
Maintainer: Paul Clark <debian@obtools.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.obtools.com/

Package: ot-xmlmesh
Architecture: any
Depends: ${shlibs:Depends},lsb-base
Description: ObTools XMLMesh message bus server
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
