Source: ot-xmlmesh
Section: Video
Priority: optional
Maintainer: PacketShip Support <support@packetship.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: http://www.packetship.com/

Package: ot-xmlmesh
Architecture: any
Depends: ${shlibs:Depends}
Description: ObTools XMLMesh message bus server
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
