Package: libot-codegen2-dev
Priority: optional
Section: libs
Depends: g++-3.4, libot-general2-dev (>= 2.1.0)
Maintainer: Paul Clark <paul@xmill.com>
Description: ObTools codegen libraries 
 The ObTools code generation libraries provide useful facilities for UML/XMI
 parsing and code generation
 .
 This package provides files for building applications which use the libraries
