Package: libot-codegen-dev
Priority: optional
Section: libs
Architecture: i386
Maintainer: Paul Clark <paul@xmill.com>
Description: ObTools codegen libraries 
 The ObTools code generation libraries provide useful facilities for UML/XMI
 parsing and code generation
 .
 This package provides files for building applications which use the libraries
Depends: libc6 (>= 2.3.2), libstdc++5 (>= 3.3.3), libot-general-dev (>= 1.0.0)
