Package: libot-xmlmesh2-dev
Priority: optional
Section: libs
Maintainer: Paul Clark <debian@obtools.com>
Description: ObTools XMLMesh message bus shared libraries (development files)
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages.  
 .
 This package provides libraries for building clients which use XMLMesh for 
 communication.