Package: libot-xmlmesh-dev
Priority: optional
Section: libs
Architecture: i386
Maintainer: Paul Clark <paul@xmill.com>
Description: ObTools XMLMesh message bus shared libraries (development files)
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages.  
 .
 This package provides libraries for building clients which use XMLMesh for 
 communication.
Depends: libot-general-dev (>= 1.6.4)
