Package: angel-cli
Priority: optional
Maintainer: Paul Clark <paul@xmill.com>
Depends: libot-general2 (>= 2.1.0), libot-xmlmesh (>= 2.0.0)
Description: Angel command line utility
 Angel is a process manager designed for managing and monitoring complex
 distributed systems.  It fulfills some of the functions of init.d, but does
 not replace it.
 .
 angel is the command line tool used to manage angeld(s)
