Source: libobtools-xmlmesh-perl
Priority: optional
Maintainer: ObTools <support@packetship.com>
Rules-Requires-Root: no
Section: non-free/net

Package: libobtools-xmlmesh-perl
Architecture: all
Depends: libxml-libxml-perl, libdata-uuid-perl
Description:  ObTools XMLMesh perl client
 ObTools XMLMesh perl client
