Package: ot-xmlmesh-php-native
Priority: optional
Architecture: all
Maintainer: Paul Clark <paul@xmill.com>
Depends: php5-common | php4-domxml
Description: ObTools XMLMesh message bus PHP interface
 XMLMesh is a SOAP-based XML message bus for integration of distributed
 components using simple XML messages
 .
 This package provides a simple PHP extension for sending XMLMesh messages
 and requests
