Package: libot-db2-dev
Priority: optional
Section: libs
Maintainer: Paul Clark <debian@obtools.com>
Description: ObTools generic database libraries (development files)
 The ObTools database library provides a generic database interface in C++.
 This is the generic support library, which requires a specific driver
 library to actually do anything useful
 .
 This package provides development files for building applications which
 use the library
